.container {
    max-width: 1150px;
    margin: 0 auto;
    background-color: #fff;
}

header {
    min-height: 80px;
    padding: 10px 20px 0;
}
header a.logo {
    float: left;
    margin-top: 8px;
}
header a.logo img {
    width: 50%;
}
header ul {
    list-style: none;
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    text-decoration: none;
    color: #3d3d3d;
    padding: 0 5px;
    margin: 0 10px;
    width: 100px;
}
header ul li a:hover {
    padding-bottom: 8px;
    border-bottom: 3px solid #ff4e00;
    color: #ff4e00;
}

.main-img {
    height: 400px;
    overflow: hidden;
    background: url(../imgs/skeleton.jpg) top center no-repeat;
    background-size: cover;
}
.text-box {
    position: relative;
    float: right;
    right: 50px;
    top: 100px;
    padding: 10px 25px;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-center {
    text-align: center;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
}

.row {
    padding: 10px;
    overflow: hidden;
}
.col-3 {
    width: 33.333333%;
    float: left;
}

.v250 {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.v250 h2 {
    font-size: 1.85rem;
    font-weight: normal;
}
.v250 p {
    font-size: 1rem;
    margin: 0;
    padding-bottom: 0.5rem;
}